*.o
*.so
*.so.*
*.dat
*.a
*~
*gitversion*.hpp
*Gitversion*.hpp
simToolPath.hpp
programs/convertlattice
programs/interptwiss
programs/fields
programs/lattice
tests/test-sdds
tests/test-syli
tests/libpalattice.ele
doc/*
build/*
tests/*.w
tests/*.w*.p*
*.log
*.lte
*.clo
*.twi
*.param