*.o
*.so
*.so.*
*.dat
*.a
*~
gitversion.hpp
systemconfig.hpp
programs/convertlattice
programs/interptwiss
programs/fields
programs/lattice
tests/test-sdds
tests/test-syli
tests/libpalattice.ele
doc/*
build/*
programs/build/*
tests/*.w
tests/*.w*.p*
*.log
*.lte
*.clo
*.twi
*.param